* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "PIXEL";
	src: url(../TIPOGRAFIAS/dogicapixel.ttf);
}

@font-face {
	font-family: "PIXEL1";
	src: url(../TIPOGRAFIAS/Pixeled.ttf);
}

@font-face {
	font-family: "REDUX";
	src: url(../TIPOGRAFIAS/TheRedux-Regular.ttf);
}

@font-face {
	font-family: "CREAM";
	src: url(../TIPOGRAFIAS//cream-DEMO.ttf);
}

body {
	font-family: "PIXEL";
}

.TITULOS {
	font-family: "PIXEL";
	font-size: 30px;
	color: rgb(0, 0, 228);
	text-align: center;
	margin-bottom: 60px;
}

header {
	width: 100%;
	height: 600px;
	background: #373B44;
	background: -webkit-linear-gradient(to right, #4286f4, #373B44), linear-gradient(to right, hsla(217, 89%, 61%, 0.537), hsla(222, 11%, 24%, 0.625)), url(../IMG/FONDOS/Fondo_1.jpg);
	background: linear-gradient(to right, hsla(217, 89%, 61%, 0.537), hsla(222, 11%, 24%, 0.625)), url(../IMG/FONDOS/Fondo_1.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

nav {
	font-family: "CREAM";
	text-align: center;
	padding-inline-start: 0%;
}

nav>a {
	color: white;
	font-weight: 300;
	text-decoration: none;
}

nav>a:hover {
	text-decoration: underline;
}

.WAVE {
	position: absolute;
	bottom: 0;
	width: 100%;
}

header .texto-header {
	display: flex;
	height: 500px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.texto-header h1 {
	font-size: 70px;
	font-weight: 300;
	color: white;
}

.texto-header h2 {
	font-size: 25px;
	font-weight: 300;
	color: white;
}

h6 {
	font-family: "CREAM";
	font-size: 50px;
	height: 50px;
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;

}

h5 {
	font-family: "CREAM";
	font-size: 50px;
	height: 150px;
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
}

footer {
	font-family: "CREAM";
	width: 100%;
	height: 100px;
	bottom: 20px;
	position: relative;
	text-align: center;
}

/*Aquí empezaron mis problemas*/

.redes {
	width: 3%;
	height: 3%;
	border-radius: 3px;
	margin: 10px;
	bottom: 50px;
}

.FINAL {
	font-family: "PIXEL";
	margin-bottom: 20px;
	padding: 20px;
}

.contenedor {
	font-family: "PIXEL";
	font-size: 20px;
	text-align: center;
	color: blue;
	padding: 15px;
	margin-left: 100px;
	margin-right: 100px;
}

.contenedor1 {
	font-family: "CREAM";
	font-size: 20px;
	padding-bottom: 30px;
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
}

.uno {
	text-align: justify;
}

.imagenes {
	width: 100px;
	max-width: 100px;
	margin-left: 100px;


}

.contenedor3 {
	font-family: "CREAM";
	font-size: 20px;
	align-items: center;
	text-justify: distribute;
	justify-content: center;
	margin-left: 100px;
	margin-right: 100px;

}

.OFICINAS {
	width: 500px;
	height: 300px;
	align-items: center;
	position: static;
	margin-left: 400px;
	margin-right: 100px;
}

.contenedor4 p {
	text-justify: distribute;
	font-family: "CREAM";
	font-size: 25px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: justify
}

.contenedor5 {
	text-justify: distribute;
	font-family: "CREAM";
	font-size: 25px;
	margin-left: 100px;
	margin-right: 100px;
}

.IMG {
	width: 100px;
	height: 60%;
	align-items: center;
	justify-content: center;
	margin-left: 100px;
	margin-right: 100px;
}

.registro {
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
	font-family: "CREAM";
	font-size: 24px;
}

.MAPA {
	align-items: center;
	font-family: "CREAM";
	font-size: 25px;
	margin-left: 450px;
}